# Python
__pycache__/
*.py[cod]
*.pyo

# Virtuelle Umgebung
.venv/
venv/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db

# Daten
data/processed/

# Berichte
reports/

# Test- und Cache-Dateien
.pytest_cache/
.coverage